:root {
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
    --transparent: hsla(0, 0%, 100%, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-family: Poppins;
    background: linear-gradient(white, white 590px, #eff1f7 590px, #eff1f7);
    overflow-x: hidden;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

header {
    width: 10%;
    padding: 1rem;
}

header>img {
    width: 100%;
    margin: 0.25rem auto -0.25rem;
}

header>span {
    display: none;
}

nav.flex {
    width: 90%;
    justify-content: space-between;
    padding: 0 1rem;
}

nav>ul>li {
    list-style-type: none;
}

nav>ul>li>a {
    text-decoration: none;
    padding: 0.25rem;
    color: var(--grayish-violet);
    margin: 0.5rem 0.25rem;
}

nav>ul>li>a:hover {
    color: var(--very-dark-violet);
}

nav>ul:last-child>li:last-child>a {
    color: white;
    background-color: var(--cyan);
    border-radius: 4rem;
}

article {
    width: 80%;
}

.intro {
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow: visible;
}

.intro-text {
    min-width: 50%;
    flex-flow: column nowrap;
}

.intro-text>h1 {
    font-size: 3rem;
    margin: 2rem auto;
}

.intro-text>p {
    font-size: 1.25rem;
    color: var(--grayish-violet);
}

.intro-text>a {
    text-decoration: none;
    color: white;
    padding: 0.75rem 2rem;
    margin: 1rem 0;
    background-color: var(--cyan);
    border-radius: 2rem;
    align-self: flex-start;
}

form {
    width: 100%;
    padding: 2rem;
    background-image: url(./images/bg-shorten-desktop.svg);
    background-color: var(--dark-violet);
    border-radius: 5px;
}

#shorten-ip,
#shorten-submit {
    padding: 0.5rem;
    font-size: 1rem;
    border-color: var(--transparent);
    border-radius: 5px;
}

#shorten-ip {
    width: 87%;
    margin-right: 1%;
    background-color: white;
}

#shorten-submit {
    width: 12%;
    background-color: var(--cyan);
    color: white;
    cursor: pointer;
}

#error {
    width: 100%;
    font-size: 0.75rem;
    font-style: italic;
    color: red;
    margin: 0;
    text-align: left;
}

.stored-links {
    width: 100%;
    padding: 0.5rem 0;
    flex-direction: column;
}

.stored-links>.link-card {
    width: 100%;
    margin: 0.5rem auto;
    padding: 0.5rem 0;
    background-color: white;
    border-radius: 5px;
}

.link-text {
    width: 85%;
    margin-right: 1%;
    justify-content: space-between;
}

.original {
    color: var(--very-dark-blue);
}

.shortened {
    color: var(--cyan);
}

.link-card>button {
    width: 10%;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--cyan);
    border-radius: 5px;
    color: white;
    border-color: var(--transparent);
    cursor: pointer;
}

.advanced-statistics {
    width: 40%;
    text-align: center;
    margin: 2.5rem 0;
}

.advanced-statistics>h2 {
    font-size: 2rem;
}

.advanced-statistics>p {
    color: var(--grayish-violet);
    font-size: 1rem;
}

.features-main {
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;
    height: 25rem;
    background: linear-gradient(var(--transparent) 49%, var(--cyan) 49% 51%, var(--transparent) 51%);
}

.card-css {
    background-color: white;
    border-radius: 0.5rem;
    width: 30%;
    padding: 0 2rem 2rem 2rem;
}

.card-css:first-of-type {
    align-self: flex-start;
}

.card-css:last-of-type {
    align-self: flex-end;
}

.desc-icon {
    width: 5rem;
    aspect-ratio: 1/1;
    background-color: var(--very-dark-violet);
    color: var(--very-dark-blue);
    margin-top: -2.5rem;
    border-radius: 50%;
    object-fit: none;
}

.card-css>h2 {
    margin: 0.5rem 0;
}

.card-css>p {
    color: var(--grayish-violet);
}

.boost-your-links {
    width: 100%;
    color: white;
    text-align: center;
    background-image: url(./images/bg-boost-desktop.svg);
    background-color: var(--dark-violet);
    padding: 2rem;
}

.boost-your-links>h2 {
    font-size: 3rem;
}

.boost-your-links>p {
    margin: 2rem auto;
}

.boost-your-links>p>a {
    text-decoration: none;
    color: white;
    background-color: var(--cyan);
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    margin: 5rem auto;
}

footer.flex {
    width: 100%;
    background-color: var(--very-dark-violet);
    padding: 2rem;
    align-items: flex-start;
}

.logo {
    width: 30%;
    color: white;
}

.logo>h3 {
    font-size: 2rem;
}

.features-foot {
    width: 15%;
    color: white;
}

.features-foot>ul {
    margin-top: 2rem;
}

.features-foot>ul>li,
.icons-foot>ul>li {
    list-style-type: none;
    margin: 0.5rem 0;
}

.features-foot>ul>li>a {
    text-decoration: none;
    color: var(--grayish-violet);
}

.features-foot>ul>li>a:hover {
    text-decoration: underline;
    color: var(--cyan);
}

.icons-foot {
    width: 20%;
    justify-content: space-evenly;
}

.intro-text>a:hover,
nav>ul:last-child>li:last-child>a:hover,
.link-card>button:hover,
#shorten-submit:hover,
.boost-your-links>p>a:hover {
    background-color: hsl(180, 60%, 60%);
}

@media screen and (max-width: 768px) {
    * {
        margin: 0.5rem auto;
    }

    html,
    body {
        font-size: 12px;
        background: linear-gradient(white, white 700px, #eff1f7 700px, #eff1f7);
    }

    .flex {
        flex-direction: column;
    }

    header,
    article,
    .intro,
    .intro-text,
    #shorten-ip,
    #shorten-submit,
    .link-card,
    .link-text,
    .original,
    .shortened,
    .link-card>button,
    .advanced-statistics,
    .logo,
    .features-foot,
    .icons-foot {
        width: 90%;
        text-align: center;
    }

    header.flex {
        flex-direction: row;
        justify-content: space-between;
    }

    header.flex>img {
        width: 30%;
        margin: 0;
    }

    header.flex>span {
        display: block;
        font-size: 4rem;
        font-weight: 700;
        color: var(--grayish-violet);
        width: 10%;
        margin: 0;
        cursor: pointer;
    }

    nav.flex {
        display: none;
        position: absolute;
        top: 7rem;
        width: 80vw;
        background: var(--dark-violet);
        border-radius: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
    }

    nav.flex>ul {
        padding: 1rem 0;
    }

    nav.flex>ul:first-of-type {
        border-bottom: 1px solid var(--grayish-violet);
    }

    nav.flex>ul>li {
        width: 100%;
    }

    nav.flex>ul>li>a {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-weight: 700;
        color: white;
        padding: 0.5rem;
    }

    .intro {
        flex-direction: column-reverse;
    }

    .intro>img {
        height: 250px;
    }

    .intro-text {
        margin: 0;
    }

    .intro-text>h1,
    .intro-text>p,
    .intro-text>a {
        margin: 0.5rem auto
    }

    form.flex {
        background-image: url(./images/bg-shorten-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #shorten-ip,
    #shorten-submit {
        margin: 0.5rem 0;
        width: 100%;
    }

    #shorten-ip,
    .original,
    .shortened {
        text-align: justify;
        width: 100%
    }

    .link-text {
        margin: 0;
    }

    .features-main {
        height: fit-content;
        background: linear-gradient(0.25turn, var(--transparent) 49%, var(--cyan) 49% 51%, var(--transparent) 51%);
        justify-content: space-between;
        padding: 0;
    }

    .card-css {
        width: 250px;
        margin: 2rem auto 0 auto;
    }

    .card-css:first-of-type {
        margin-bottom: 2rem;
    }

    .card-css:last-of-type {
        margin-top: 4rem;
    }

    .boost-your-links {
        background-image: url(./images/bg-boost-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 0;
    }

    footer {
        margin: 0;
    }

    .icons-foot {
        flex-direction: row;
    }
}
